[submodule "jiant/cove"]
	path = jiant/modules/cove
  url = https://github.com/salesforce/cove.git
  ignore = untracked
[submodule "jiant/openai_transformer_lm/pytorch_huggingface"]
	path = jiant/openai_transformer_lm/pytorch_huggingface
	url = https://github.com/huggingface/pytorch-openai-transformer-lm.git
