name: jiant
channels:
    - pytorch
dependencies:
    - python=3.6
    - pytorch=1.0.0
    - torchvision=0.2.1
    - numpy=1.14.5
    - nltk=3.2.5
    - scikit-learn=0.19.1
    - pandas=0.23.0
    - pytz=2017.3
    - jsondiff
    - pip
    - pip:
        - allennlp==0.8.4
        - ipdb
        - tensorboard
        - tensorboardX==1.2
        - sendgrid==5.4.1
        - pyhocon==0.3.35
        - nose2
        - python-Levenshtein

        # Used to automatically invoke formatting for code changes. If you don't plan to submit PRs
        # to jiant, this is optional.
        - pre-commit==1.15.2

        # Warning: jiant currently depends on *both* pytorch_pretrained_bert > 0.6 _and_
        # pytorch_transformers > 1.0. These are the same package, though the name changed between
        # these two versions. AllenNLP requires 0.6 to support the BertAdam optimizer, and jiant
        # directly requires 1.0 to support XLNet and WWM-BERT.
        # This AllenNLP issue is relevant: https://github.com/allenai/allennlp/issues/3067
        - pytorch-transformers==1.0.0