name: jiant
channels:
    - pytorch
dependencies:
    - python=3.6
    - pytorch=1.1.0
    - torchvision=0.2.1
    - numpy=1.15.0
    - scikit-learn=0.19.1
    - pandas=0.23.0
    # bokeh for plotting
    - bokeh=1.2.0
    - ipykernel=5.1.1
    - pytz=2017.3
    - jsondiff
    - pip
    - pip:
        - allennlp==0.8.4
        - ipdb
        - tensorboard
        - tensorboardX==1.2
        - sendgrid==5.4.1
        - pyhocon==0.3.35
        - nose2
        - pre-commit==1.15.2

        # for span alignment / retokenization
        - python-Levenshtein==0.12.0

        # for --remote_log functionality
        - google-cloud-logging==1.11.0

        # for some tokenizers in huggingface transformers
        - spacy==2.1
        - ftfy

        # for tokenization
        - nltk==3.4.5
        - sacremoses

        # Warning: jiant currently depends on *both* pytorch_pretrained_bert > 0.6 _and_
        # transformers > 2.6.0. These are the same package, though the name changed between
        # these two versions. AllenNLP requires 0.6 to support the BertAdam optimizer, and jiant
        # directly requires 1.0 to support XLNet and WWM-BERT.
        # This AllenNLP issue is relevant: https://github.com/allenai/allennlp/issues/3067
        - transformers==2.6.0
        - tokenizers==0.5.2
