attrs==19.3.0
bs4==0.0.1
jsonnet==0.15.0
lxml==4.5.1
nlp==0.4.0
nltk>=3.5
numexpr==2.7.1
numpy==1.18.4
pandas==1.0.3
python-Levenshtein==0.12.0
sacremoses==0.0.43
seqeval==0.0.12
scikit-learn==0.22.2.post1
scipy==1.4.1
sentencepiece==0.1.86
tokenizers==0.8.1.rc2
tqdm==4.46.0
transformers==3.0.2
